In [1]:
import sys
import torch
from torch import nn
import pandas as pd

df = pd.read_csv("data/loan_data.csv")
df = df[["loan_status", "person_income", "loan_intent", "loan_percent_income", "credit_score"]]
df = pd.get_dummies(df, columns=["loan_intent"])
df.head()

,loan_status,person_income,loan_percent_income,credit_score,loan_intent_DEBTCONSOLIDATION,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE
0,1,71948.0,0.49,561,False,False,False,False,True,False
1,0,12282.0,0.08,504,False,True,False,False,False,False
2,1,12438.0,0.44,635,False,False,False,True,False,False
3,1,79753.0,0.44,675,False,False,False,True,False,False
4,1,66135.0,0.53,586,False,False,False,True,False,False

In [2]:
df["loan_status"]

0        1
1        0
2        1
3        1
4        1
        ..
44995    1
44996    1
44997    1
44998    1
44999    1
Name: loan_status, Length: 45000, dtype: int64

In [5]:

y = torch.tensor(df["loan_status"], dtype=torch.float32).reshape((-1, 1))
y

tensor([[1.],
        [0.],
        [1.],
        ...,
        [1.],
        [1.],
        [1.]])

In [7]:
df.drop("loan_status", axis=1)

,person_income,loan_percent_income,credit_score,loan_intent_DEBTCONSOLIDATION,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE
0,71948.0,0.49,561,False,False,False,False,True,False
1,12282.0,0.08,504,False,True,False,False,False,False
2,12438.0,0.44,635,False,False,False,True,False,False
3,79753.0,0.44,675,False,False,False,True,False,False
4,66135.0,0.53,586,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...
44995,47971.0,0.31,645,False,False,False,True,False,False
44996,65800.0,0.14,621,False,False,True,False,False,False
44997,56942.0,0.05,668,True,False,False,False,False,False
44998,33164.0,0.36,604,False,True,False,False,False,False
44999,51609.0,0.13,628,True,False,False,False,False,False

In [6]:
X_data = df.drop("loan_status", axis=1).astype('float32').values
print(X_data.dtype)
X = torch.tensor(X_data, dtype=torch.float32)
print(X)

float32
tensor([[7.1948e+04, 4.9000e-01, 5.6100e+02,  ..., 0.0000e+00, 1.0000e+00,
         0.0000e+00],
        [1.2282e+04, 8.0000e-02, 5.0400e+02,  ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00],
        [1.2438e+04, 4.4000e-01, 6.3500e+02,  ..., 1.0000e+00, 0.0000e+00,
         0.0000e+00],
        ...,
        [5.6942e+04, 5.0000e-02, 6.6800e+02,  ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00],
        [3.3164e+04, 3.6000e-01, 6.0400e+02,  ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00],
        [5.1609e+04, 1.3000e-01, 6.2800e+02,  ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00]])